@page "/test"


    <div class="main-container">
        <label>Your name:</label><input type="text" @bind="@userName" />
        <label>Message:</label><textarea @bind="@message"></textarea>
        <button @onclick="@Run">Send</button>
        <br />
        <label>@result</label>
    </div>

@code {
    public class User
    {
        public Guid Id { get; set; }

        public string Name { get; set; }
    }
}

@functions {

    string userName;
    string message;
    string result;

    public  void Run()
    {
      
        result = "Name: " + userName + "Msg: " + message;
    }
}
